@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  min-height: 100vh;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
